@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
    font-family: "Lora", serif;
}

.btn-gradient {
  background: linear-gradient(90deg, #ff7e5f, #fd3a84, #8e2de2);
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 12px;
  padding: 12px 28px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-gradient:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(255, 126, 95, 0.4);
}

.btn-outline {
  background: transparent;
  color: #ff7e5f;
  border: 2px solid #ff7e5f;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px 26px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-outline:hover {
  background: linear-gradient(90deg, #ff7e5f, #fd3a84);
  color: white;
}

.nav-link-item {
  font-size: 18px;
  @apply text-base-content px-3 py-2 transition-colors; 
  padding: 10px 5px;
  transition: color 0.3s ease;
}

.navbar a.active {
  background: linear-gradient(90deg, #ff7e5f, #fd3a84, #8e2de2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.nav-link-item:hover {
    color: #fd3a84;
}

